<div class="container">
   <form action="/create" method="post">
    Email <input type="text" name="email"><br><br>
    Set password <input type="text" name="password"><br><br>
    <input type="submit" value="Create user">
  </form>
</div>
