<div class="container">
  <h2>Juan and Jacky's Log-In Page</h2>
  <a href="/create">Create Users</a><br>
  <h3>Existing User</h3>
   <form action="/signin" method="post">
    Email <input type="text" name="email"><br><br>
    Set password <input type="text" name="password"><br><br>
    <input type="submit" value="Signin">
  </form>

</div>
